<%- include("../layout/header") %>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">ADMIN</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">User</a></li>
        <li>Catelog<p class="secondary-content"><i class="material-icons">grade</i></p></li>
        <li><a href="">Edit post</a></li>
        <li><a href="">Back</a></li>
      </ul>
    </div>
  </nav>

<!--<div class="container">
    <div class="mt-3 text-center">
        <h3>Add Catelog</h3>
        <div class="form-group">
            <label for="text">Catelog :</label>
            <input type="text" class="form-control" name="name">
        </div>
    </div>
</div>-->
