<%- include("../layout/header") %>
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
    <style>
        .card center{
            padding-top: 20px;
            margin-top: 20px;
            width: 10px;
            height: 10px;
        }
        .activator{
           
            width: 50px;
            height: 50px;
        }
    </style>
    
    <nav>
        <div class="nav-wrapper">
          <p class="brand-logo center">ADMIN PANEL</p>
        </div>
      </nav>
      <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="#" class="logo-container">Admin<i class="material-icons left">account_circle</i></a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
              <div>
                <li class="bold waves-effect"><a href="#" class="collapsible-header">User<i class="material-icons chevron">chevron_left</i></a>
              </div>
            
              <div>
                <li class="bold waves-effect"><a href="#" class="collapsible-header">Catelog<i class="material-icons chevron">chevron_left</i></a>
              </div>
  
              <div>
                <li class="bold waves-effect"><a href="#" class="collapsible-header">Edit post<i class="material-icons chevron">chevron_left</i></a>
              </div>
          </ul>
        </li>
      </ul>

      <div class="col l3 m6 s12">

        


      
            