<%- include("../layout/header") %>
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
    
    <nav>
        <div class="nav-wrapper">
          <a href="/admin" class="brand-logo">ADMIN</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">User</a></li>
            <li><a href="">Catelog</a></li>
            <li>Edit post<p class="secondary-content"><i class="material-icons">grade</i></p></li>
            <li><a href="/admin">Back</a></li>
          </ul>
        </div>
      </nav>
  
  <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
  </form>
  <div class="site">
    <div class="ui massive menu">
        <div class="ui container">
            <div class="item"><a href="/">Home</a></div>
            <div class="item">About</div>
            <div class="item">Contact</div>
            <div class="item">Blog</div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="ui container">
        <form id="form" action="/add" class="ui form" method="POST">
            <div class="three fields">
                <div class="field">
                    <label for="label" class="ui header green">Enter club name</label>
                    <input type="text" name="name" placeholder="Enter club name" value=""  id="name">
                </div>
                <div class="field">
                    <label for="label" class="ui header green">Enter players name</label>
                    <input type="text" name="players" placeholder="Enter players name" value="" id="players">
                </div>
                <div class="field">
                    <label for="label" class="ui header green">Enter coach name</label>
                    <input type="text" name="coach" placeholder="Enter coach name" value="" id="coach">
                </div>
            </div>
            <!-- <div class=" one fields"> -->
                <div class="field fluid">
                    <button type="submit" class="ui button fluid green">Save</button>
                </div>
            <!-- </div> -->
        </form>
        <br>
        <br>
        <br>
        
        <table class="ui table green" >
            <thead>
                <tr>
                    <th>Club Name</th>
                    <th>Players</th>
                    <th>Coach</th>
                    <th >Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
              
                    <tr>
                        <td id="teamName"></td>
                        <td id="teamPlayers"></td>
                        <td id="teamCoach"></td>
                        <td><a class="ui button green editBtn" href=""><i class="edit white icon"></i></a></td>
                        <td><a class="ui button green actnBtn" href=""><i id="delete" class="minus red icon"></i></a></td>
                    </tr>
               
            </tbody>
        
            <!-- <tbody>
                <tr>
                    <td>Bayern Munich</td>
                    <td>Lawendoski, Coutinho</td>
                    <td>Niko Kovač</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>PSG</td>
                    <td>Neymar, Mbappe</td>
                    <td>Thomas Tuchel</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>FC Barcelona</td>
                    <td>Messi, Suarez</td>
                    <td>Ernesto Valverde</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </tbody> -->
        </table>
    </div>
</div>