<%- include("../layout/header") %>
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
    
             
             </head> 
          
             <body>
          
  
<% showallusers.forEach(function(user){ %>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Users</th>
          <th scope="col">Email</th>
          <th scope="col">ID</th>
          <th scope="col">Post</th>
        </tr>
      <tr>
        <th scope="col">Username : <%= user.username %></th>
        <th scope="col">E-mail : <%= user.email %></th>
        <th scope="col">id user : <%= user._id %></th>
      </tr>
    </thead>
</table>
<% }); %>
</body>
</html>