<%- include("layout/header") %>
<%- include("layout/layoutnavbar") %>
<% if(locals.user){ %>
<div class="container mt-5 mb-5">
    <form method="POST" action="/blogs/new/id=<%= user._id %>">
        <h3 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Post something</h3>
        <div class="form-group">
              <label for="text">Title :</label>
              <input type="text" class="form-control" placeholder="ชื่อหัวเรื่อง" name="name">
        </div>
        <div class="form-group">
            <label for="text">Image URL :</label>
            <input type="text" class="form-control" placeholder="ลิงค์รูปภาพ" name="imgurl">
        </div>
        <div class="form-group">
            <label for="text">Description :</label>
            <input type="text" class="form-control" placeholder="คำบรรยาย" name="desc">
        </div>
        <button type="submit" class="btn btn-success btn-block">Post</button>
    </form>
</div>
<% } %> 
<% if(!locals.user){ %>
    <div class="text-center p-5"><h2>Please Login!</h2></div>
<% } %> 
<%- include("layout/footer") %>  