<%- include("layout/header") %>
<header>
    <nav>
        <div class="logo">
            <div>เว็บเที่ยวไทย</div>
        </div>
        <div>
            <ul>
                <li><a href="">หน้าแรก</a></li>
                <li><a href="">เขียนบทความ</a></li>
                <li><a href="">อัลบัม</a></li>
            </ul>
        </div>
    </nav>
</header>