<%- include("layout/header") %>
<header>
    <nav>
        <div class="navbar-brand">
            <h1>LOGO</h1>
            <a href="">ลงชื่อเข้าใช้</a>
        </div>
        <ul>
            <li class=""><a href="">เว็บเที่ยวไทย</a></li>
            <li class=""><a href="">หน้าแรก</a></li>
            <li class=""><a href="">เขียนบทความ</a></li>
            <li class=""><a href="">อัลบั้มรูปภาพ</a></li>
        </ul>      
    </nav>
</header>