<%- include("layout/header") %>
<div>
    <div class="container mt-4">
        <h2 class="text-center m-3">เว็บไซด์ที่รวบรวมสถานที่ท่องเที่ยว และการรีวิวของผู้ใช้งาน</h2>
        <img src="images\Th2Th_Banner (1).jpg" alt="" class="img-fluid card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="mt-2">
            <a href="/blogs">
                <!-- <h5 class="text-center text-success" style="font-family: 'Mitr', sans-serif;">เข้าสู่หน้าหลัก</h5> -->
                <button type="button" class="btn btn-success btn-block">เข้าสู่หน้าหลัก</button>
            </a>
        </div>
    </div>
</div>
