<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
	<style>
		*
		{
			font-family: 'Mitr', sans-serif;
		}
		.form-login
		{
			max-width: 100%;
			width: 450px;
			padding: 20px;
			margin: 100px auto;
			border-radius: 10px;
			text-shadow: 4px 4px 10px #000000;
		}
		.background-login
		{
			background-image: url("/images/เที่ยวเชียงใหม่.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
		}
	</style>
</head>
<body class="background-login">
	<div>	
		<div class="container">
			<form class="form-group form-login" method="POST" action="/blogs/login"> 
				<h1 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Login</h1>
				<div class="form-group">
      				<label for="email">Email:</label>
			  		<input type="text" class="form-control" placeholder="Enter email" name="email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
				</div>
				<!-- <div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" name="remember"> Remember me
					</label>
				</div> -->
                <button type="submit" class="btn btn-success btn-block ">Submit</button>
                <a href="/blogs/register"><p class="text-center pt-2">I don't have my account</p></a>
			</form>
		</div>
	</div>
</body>
</html>
