<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sample File Upload</title>
</head>
<body>
    <div class="container">
        <form action="/blogs/upload" method="post" enctype="multipart/form-data">
            <div>
                <h2>Change Image Profile</h2>
            </div>
            <input type="file" name="file">
            <button type="submit" value="Upload" name="btn">Upload</button>
	    </form>
    </div>
</body>
</html>