*
{
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}
html
{
  height: 100%;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Kanit', sans-serif;
  color: #272727;
}
body
{
  display:flex; 
  flex-direction:column; 
  height:100%;
  background-color: whitesmoke;
  /* background-image: url("https://blog.bangkokair.com/wp-content/uploads/2018/08/%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%9A%E0%B8%B5%E0%B9%88.jpg"); */

  /* background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.1)), url("https://ภาพวิว.com/wp-content/uploads/2018/09/JPHU-7-1070x535.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* navbar */
header
{
  padding: 10px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
.navbar-brand
{
  display: flex;
  position: relative;
}
.navbar-brand a
{
  float: right;
}
nav ul
{
  margin: 0;
  display: flex;
  list-style-type: none;
}
nav ul li
{
  padding: 1px 10px;
}
nav ul li a
{
  color: white;
}


/* logo website */
.logo-web
{
  width: 100%;
  height: 180px;
  background-color: bisque;
}
.logo-web-image
{
  display: grid;
  grid-template-columns: 100%;
}
.logo-web img
{
  justify-items: center;
  width: auto;
  height: 180px;
}

.content p
{
  font-size: 16px;
}
.content h1
{
  font-size: 20px;
}
.content h2 h3{
  font-size: 18px;
}
.content img
{
  width: 100%;
  height: auto;
}
img
{
  width: 100%;
  height: auto;
}
/* path list */
.breadcrumb
{
  padding: 10px 16px;
  list-style: none;
}
.breadcrumb li
{
  display: inline;
  font-size: 18px;
}
.breadcrumb li+li:before
{
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.blog-group-contect
{
  padding: 10px 0px 10px 0px;
}
.blog-group-contect a
{
  color: black;
}
.card
{
  background-color: whitesmoke;
  border-radius: 5px;
}
.desc-card
{
  padding: 5px;
  
}
.desc-card h5
{
  font-size: 17px;
  height: 35px;
}
/* view eye */
.eye-view
{
  font-size: 14px;
  font-family: 'Mitr', sans-serif;
  color: grey; 
}
.box-search input
{
  padding: 2px 10px;
	width: 300px;
	height: 30px;
	font-size: 16px;
	color: black;
	border: 2px solid #1E90FF;
	border-radius: 5px;
}

.carousel-item
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer
{
  margin-top:10px; 
  background-color: dodgerblue;
  width: 100% auto;
  display: grid;
}
.contact
{
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 0px 5px 15px;
	height: 140px;
	color: white
}
.contact-information:nth-child(1)
{
	padding: 30px 30px 0px 10px; 
	font-size: 14px;
	justify-self: center;
}
.contact-information:nth-child(2)
{
	padding: 10px 30px 0px 10px; 
	font-size: 14px;
	align-self: center
}
.contact-information:nth-child(2) h2
{
	margin: 0.7rem 0.7rem 0.7rem 0px;
}
.contact-information:nth-child(2) h5
{
  color: white;
}
.contact-information:nth-child(2) div
{
	margin-bottom: 0.7rem;
	align-self: center;
}
.contact-information:nth-child(2) i
{
	font-size: 20px;

}
.contact-information:nth-child(2) a
{
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
}
.contact-information:nth-child(2) a:hover
{
	text-decoration: underline;
}
.copyright
{
	background-color: #2b2b2b;
	width: 100%;
	height: 30px;
}
.copyright-grid
{
	display: grid;
	grid-template-columns: 1fr;
	color: white;
	font-size: 14px;
	align-self: center;
}
.copyright-grid p
{
	padding: 3px;
	margin: 0px;
}
.copytext
{
  justify-self: center;
}
.projectname
{
  justify-self: center; 
}
footer a
{
  color: white;
}
footer a:hover
{
  color: pink;
}
.img-profile
{
  margin: 1px auto;
  width: 250px;
  height: 250px;
  text-align: center;
}
#AuthorName
{
  font-size: 18px;
}
#dateOfPost
{
  font-size: 14px;
  color: #aaaaaa;
}
.profile-section
{
  margin: 3px 0;
  background-color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 35% 65%;
}
.profile-section div:nth-child(1)
{
  align-self: center;
  justify-self: center;
}
.profile-section div:nth-child(2)
{
  padding: 10px 40px 10px 0px;
  width: 100%;
  align-self: center;
  justify-self: start;
}

.author-img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid ;
  float: left;
  object-fit: cover;
  object-position: center ; 
  border-color:white;
}
.img-user-navbar
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid ;
  align-self: center;
}
.usercomment-img
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid ;
	float: left;
}
.image-title
{
	width: 100%;
	height: auto;
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar-recommend-title
{
  background-color: white;
  border-left: 6px solid #353535;
  padding: 3px 0px 2px 17px;
  font-size: 20px;
  border-radius: 1px;
  margin: 1px 0px 12px 1px;
}
.sidebar-recommend
{
  display: grid;
  grid-template-columns: 140px auto;
  margin: 12px 0px 0px 7px;
  justify-self: center;
  opacity: 0.8;

}
.sidebar-recommend:hover
{
  opacity: 1;
  cursor: pointer;
}
.sidebar-recommend p
{
  font-size: 16px;
  color: #353535;
}

.image-sidebar-recommend
{
	width: 130px;
  height: 80px;
  object-position: center;
  object-fit: cover;
  border-radius: 3px;
}
.card
{
  background-color: white;
}
.img-crop-index
{
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center ; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
  
}
.img-crop
{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center ; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
  
}

.img-crop-section1
{
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: top ; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
}


.card:hover
{
  opacity: 0.8;
  background-color: white;
  box-shadow: 1px 1px 5px #aaaaaa;
}

.img-crop-pageprofile
{
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center ; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
}
.img-crop-preview-edit
{
  width: 280px;
  height: 280px;
  object-fit: cover;
  object-position: center ; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
  border-radius: 50%;
  border: 8px solid;
  border-color:white;
}

.section-content1
{
  margin: 15px 0;
  background-color: rgb(16, 151, 230);
  background-image: linear-gradient(160deg, rgb(0, 137, 216) 0%,rgb(194, 222, 238) 100%);
  border-radius: 7px;
  border: 2px solid white;
}
.section-content2
{
  margin: 15px 0;
  /* background-color: #16A085;
  background-image: linear-gradient(132deg,  rgb(22, 160, 84) 0%,rgb(235, 212, 119) 100%); */
  background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.1)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Big_Nature_%28155420955%29.jpeg/1280px-Big_Nature_%28155420955%29.jpeg");
  border-radius: 7px;
  border: 2px solid white;
}
.title-section h3 a, .title-section h3 i
{
  text-shadow: 5px 5px 7px black;
  color: white;
  text-decoration: none;
}

hr
{
  margin: 8px 0;
  color: white; 
  background-color: white;
}

.main-content-section3
{
  position: relative;
  margin: 10px 0px 2px 0px ;
  padding-top: 10px;
}

.background-section3
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
/* .background-section3:after
{
  columns: "";
  position: absolute;
  width: 100%;
  height: 100%;
} */
.title-section3 h3 a
{
  position: absolute;
  color:white;
  text-shadow: 5px 5px 7px whitesmoke;
}
.title-section3 a
{
  color: black;
}


.about-this-blog
{
  margin: 120px 0 0 0;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  padding: 10px;
}
.about-this-blog-title
{
  background-color: #ffffff;
  border-left: 6px solid #353535;
  padding: 2px 0px 1px 17px;
  font-size: 20px;
  border-radius: 1px;
}
.about-this-blog-title h5
{
  color: black;
  margin: 4px 0;
}
.about-this-blog-information
{
  margin: 5px 0;
  padding: 10px;
}
.about-this-blog-information p
{
  line-height: 0.8em;
  font-size: 14px;
}



.comment-box
{
  background-color:white;
  border-radius: 5px;
  margin: 20px 0px;
  
}
.comment-item
{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin: 10px 0;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 15px;
}
.comment-by-img
{
  align-self: start;
}
.comment-by
{
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 7px;
  border: 1px rgb(136, 136, 136) solid;
}

.edit-comment
{
  text-align: right;
  color: #aaaaaa;
  font-size: 14px;
}
#editComment:hover
{
  cursor: pointer;
  color: #353535;
}
#deleteComment:hover
{
  cursor: pointer;
  color: #353535;
}

.box-for-comment
{
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 7px;
  border: 1px rgb(136, 136, 136) solid;
}


/* category-side */
.category
{
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 12px;
}
.category-title
{
  display: grid;
  background-color: white;
  border-left: 6px solid #353535;
  padding: 3px 0px 2px 17px;
  font-size: 20px;
  border-radius: 1px;
}

.category-items
{
  padding: 10px 7px;
  margin: 2px;
  background-color: white;
  color: #5f5f5f;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
}
.category-items a
{
  padding: 1px 3px;
  font-size: 14px;
  color: #272727;
  text-decoration: none;
}
.category-items:hover, .category-items a:hover
{
  background-color: #007bff;
  color: white;
}
#myImg {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Do not scale the image */
  object-position: center ; /* Center the image within the element */
  border-radius: 50%;
  border: 8px solid;
  border-color:white;
  cursor: pointer;
  transition: 0.3s;
}


.dropdown-menu
{
  margin: 1px;
  padding: 1px;
}
.dropdown-item
{
  padding: 10px 30px;
}
.dropdown-item:hover
{
  background-color: dodgerblue;
}


/* search items */
.page-search
{
  height: 100% auto;
  display: grid;
  grid-template-columns: 70% 30%;
}
.item-article-search
{
  margin: 12px 0px;
  padding: 1px;
  border-radius: 3px;
  background-color: white;
  
}
.item-article-search:hover
{
  border-style: initial;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.items-search
{
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 150px;
}
.image-search-page
{
  height: 150px;
  padding: 7px;
  border-radius: 2px;
}
.detail-search
{
  height: 150px;
  padding: 14px;
  font-size: 14px;
  color: #5f5f5f;
}
.image-search-page-crop
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center ; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

/* autocompleteTAG */
.autocomplete {
  position: relative;
}
.autocomplete-items
{
  position: inherit;
  margin: 15px 0;
}
.autocomplete-items span {
  padding: 7px 5px;
  display: inline-block;
  margin: 3px 2px;
  border: 1px solid #aaaaaa;
  border-radius: 10%;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items span:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

@media (max-width: 700px)
{
  .img-crop-index
  {
    height: 120px;
  }
  .img-crop-pageprofile
  {
    height: 120px;
  }
  .title-section h3
  {
    font-size: 22px;
  }
  h4
  {
    font-size: 18px;
  }
  h5
  {
    font-size: 16px;
  }
  p 
  {
    font-size: 14px;
  }
  .contact
  {
    grid-template-columns: 1fr;
    height: auto;
  }
  .copyright
  {
     height: auto;
  }
  .copyright-grid
  {
    grid-template-columns: 1fr;
  }
  .copyright-grid div
  {
    justify-self: center;
  }
  .items-search
  {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 100px;
  }
  .image-search-page,.detail-search
  {
  height: 100px;
  }
}


.dropdown-user {
  align-self: center;
	justify-self: end;
	padding-left: 5px;
}

.dropbtn-user {
  padding: 4px 8px !important;
	background-color: white;
	border-radius: 3px;
	font-size: 16px;
	border: 1px solid gray;
  cursor: pointer;
  align-self: flex-end;
	justify-self: center;
}

.dropbtn-user:hover, .dropbtn-user:focus{
  border: 1px solid white;
  background-color: #007bff;
  color: white;
  transition: ease-in-out;
}


.dropdown-itemOfUSer {
  border: 1px #aaaaaa;
  display: none;
  position: absolute;
  border-radius: 3px;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-itemOfUSer a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  align-items: center;
  justify-items: start;
  display: grid;
  grid-template-columns: 30px auto;
}

.dropdown-user a:hover {background-color: #ddd;}

.show {display: block;}


/* button user */
/* 
.button-userlogin
{
	align-self: center;
	justify-self: end;
	padding-left: 5px;
	
}
.username
{
	padding: 4px 8px;
	background-color: white;
	border-radius: 3px;
	font-size: 15px;
	border: 1px solid gray;
  align-self: center;
  cursor: pointer;
}
.username a
{
  text-decoration: none;
}
.submenu-user
{
  position: absolute;
	margin: 5px 0px;
	list-style-type: none;
	background-color: white;
	padding: 0;
	display: none;
	border-radius: 3px;
}
.submenu-user.active
{
	display: block;
  transition: 1s ease-in-out;
  float: left;
}
.submenu-user li
{
	width: 170px;
	padding: 8px 10px;
	cursor: pointer;
	border-radius: 1px;
	border-bottom: 1px solid hsl(0, 0%, 41%);
	
}
.submenu-user li a
{
  padding: 3px 7px;
  text-decoration: none;
}
.submenu-user li:hover
{
	background-color: darkgray;
} */

/* ***** */




.container
{
    max-width: 1100px;
    width: 100%;
    padding: 1px;
    margin: 0 auto;
}
.shadow
{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0); */
  /* box-shadow: 0px 8px 8px 0px rgb(255, 255, 255); */
  box-shadow: 1px 1px 5px #aaaaaa;
}
.menu-toggle
{
    display: none;
}

.header-navbar
{
  margin-bottom: 30px;
}
.navbar-top
{
    background-color: rgb(0, 85, 243);
    /* background-color: #272727; */
}
.navbar-top .container
{
    padding:1px 20px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 120px 180px;
    color: black;
    align-items: center;
}
.navbar-top .login-button
{
    align-self: center;
    justify-self: end;
}
.navbar-top a
{
    font-size: 16px;
    color: black;
}
.navbar-top .tool a
{
  text-decoration: none;
  color: white;
}
.navbar-category
{
    height: 40px;
    padding: 2px 10px;
    background-color:#248eff;
}
.navbar-category ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.navbar-category ul li
{
    padding: 5px 0;
    
}
.navbar-category ul li a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 2px;
}
.navbar-category ul li a:hover
{
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}


.viewOfPost
{
  color: #aaaaaa;
  font-size: 13px;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
}

article a:hover{
  text-decoration: none;
}

.author_post
{
  margin: 10px 0 0 0;
  display: grid;
  grid-template-columns: 70% 30%;
}
.bookmark-post
{
  color: #aaaaaa;
  cursor: pointer;
  display: grid;
  grid-template-columns: 100%;
}
.bookmark-post:hover
{
  color:#007bff;
}
.bookmark-post span:nth-child(1)
{
  font-size: 32px;
}
.bookmark-post span:nth-child(2)
{
  font-size: 14px;
}

.bookmark-post-saved
{
  display: grid;
  grid-template-columns: 100%;
  cursor: pointer;
}
.bookmark-post-saved span:nth-child(1) 
{
  font-size: 32px;
}
.bookmark-post-saved span:nth-child(1) i
{
  color: #007bff
}
.bookmark-post-saved span:nth-child(2)
{
  font-size: 16px;
  color: #007bff;
}

.carousel
{
    padding: 5px;
    background-color: white;
}



@media (max-width: 768px)
{
    h1
    {
      font-size: 26px;
    }
    .menu-toggle
    {
        padding: 0px 13px;
        height: 50px;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        font-size: 26px;
        border-bottom: 1px;
        background-color: #007bff;
        color: white;
    }
    .menu-toggle .logo-for-moblie
    {
        justify-self: center;
    }
    .navbar-top, .navbar-category, .logo-web
    {
        display: none;
    }

    .navbar-top.active
    {
        display: block;
        height: auto;
    }
    .navbar-top
    {
        text-align: center;
        background-color: gray;
        width: 100%;
    }
    .navbar-top div a
    {
        font-size: 16px;
        text-decoration: none;
        color: black;
    }
    .username
    {
      width: 100%;
      height: auto;

    }
    .username a, .username ul li a
    {
      color: black;
    }
    .submenu-user 
    {
      width: 100%;
      position: static;
      border: 1px grey;
    }
    .submenu-user li
    {
      padding: 10px;
      width: 100%;
    }

    .navbar-top .container
    {
      padding:1px 20px;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      color: black;
      align-items: center;
    }
    .navbar-top .container div  
    {
      padding: 10px 5px;
    }
    .dropdown-user
    {
      justify-self: center;
    }
    .navbar-top .login-button
    {
      align-self: center;
      justify-self: end;
    }
    .navbar-category.active
    {
        background-color: grey;
        display: block;
        height: auto;
        padding: 2px 0;
    }
    .navbar-category ul
    {
        width: 100%;
        display: block;
    }
    .navbar-category ul li
    {
        padding: 10px 2px;
        text-align: center;
        border-bottom: 1px whitesmoke;
    }
    

    

    .page-search
    {
      grid-template-columns: 1fr;
    }
    .profile-section
    {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }
    .profile-section div:nth-child(1)
    {
      align-self: center;
      justify-self: center;
      padding: 10px;
    }
    .profile-section div:nth-child(2)
    {
      width: 100%;
      align-self: center;
      justify-self: center;
      padding: 10px;
    }
}
