<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <form action="/changePassword:<%= user_reset._id %>" method="POST">
        <h3>Reset Password</h3>
        <div>
            <h5>Username : <%= user_reset.username %> </h5>
            <h5>Email : <%= user_reset.email %> </h5>
        </div>
        <input type="password" name="password1" placeholder="New password" required>
        <button type="submit">ยืนยัน</button>
    </form>
</body>
</html>