<!-- <footer class="bg-dark p-3">
    <div class="container">
        <div class="row m-3 pl-5" style="font-size: medium; color: white;">
            <div class="col-lg-4 col-md-4 col-12 p-2">
                <h4>Menu</h4>
                <div >
                    <ul style="list-style: none; display: contents;">
                        <li><a href="">Home</a></li>  
                        <li><a href="">Profile</a></li>
                        <li><a href="">Post</a></li>
                        <li><a href="">My Gallery</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 p-2">
                <h4>Category</h4>
                <div >
                    <ul style="list-style: none; display: contents;">
                        <li>เที่ยวตามสบาย</li>
                        <li>เที่ยวตามงบ</li>
                        <li>สายกินต้องไป</li>
                        <li>เดินห้างตากแอร์</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 p-2">
                <h4>Contact</h4>
                <div >
                    <ul style="list-style: none; display: contents;">
                        <li><i class="fab fa-facebook-square"></i>  Facebook</li>
                        <li><i class="fab fa-instagram"></i>  Instagram</li>
                        <li><i class="fab fa-line"></i>  Line</li>
                        <li><i class="far fa-envelope"></i>  Gmail</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center text-white">Webmaster Chonlasit © Copyright 2020  All rights reserved.</div>
    </div>
</footer> -->
<footer>
	<div class="contact">
		<div class="contact-information">
			<p>เว็บไซด์นี้จัดทำขึ้นเพื่อฝึกทักษะการเขียนเว็บของสมาชิกในทีม และนำเสนอต่ออาจารย์ผู้สอน โดยมิได้ตั้งใจที่จะละเมิดข้อมูลเว็บไซด์ต้นฉบับแต่อย่างใด</p>
		</div>
		<div class="contact-information">
			<h2>สมาชิกในทีม</h2>
			<div><i class="fab fa-facebook-square">  </i> <a>Chonlasit Satsuk</a> </div>
			<div><i class="fab fa-facebook-square">  </i> <a>Jutatip Mahaesuan</a> </div>
		</div>
	</div>
	<div class="copyright">
		<div class="copyright-grid">
			<div class="projectname">
				<p>Project Blogapp</p>
			</div>
			<div class="copytext">
				<p>Copyright @ 2020 -All rights reserved</p>
			</div>
			<div class="credits">
				<p>Chonlasit Satsuk</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>