
<footer class="p-0 shadow">
	<div class="contact container">
		<div class="contact-information">
			<p>เว็บไซด์ที่รวมการรีวิวสถานที่ท่องเที่ยวต่าง ๆ จากผู้ใช้งาน เพื่อกระตุ้นเศรษฐกิจ และการท่องเที่ยวภายในประเทศ</p>
		</div>
		<div class="contact-information">
			<h5>ติดต่อเรา</h5>
			<div><i class="fab fa-facebook-square">  </i> <a href="https://www.facebook.com/profile.php?id=100002491999405" target="_blank">Chonlasit Satsuk</a> </div>
			<div><i class="fab fa-facebook-square">  </i> <a href="https://www.facebook.com/jutatip.mahaesuan.3" target="_blank">Jutatip Mahaesuan</a> </div>
		</div>
	</div>
	<div class="copyright ">
		<div class="copyright-grid">
			<div class="copytext">
				<p>Copyright @ 2020 -All rights reserved</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>