
<footer class="container p-0 shadow">
	<div class="contact">
		<div class="contact-information">
			<p>เว็บไซด์นี้จัดทำขึ้นเพื่อฝึกทักษะการเขียนเว็บของสมาชิกในทีม และนำเสนอต่ออาจารย์ผู้สอน โดยมิได้ตั้งใจที่จะละเมิดข้อมูลเว็บไซด์ต้นฉบับแต่อย่างใด</p>
		</div>
		<div class="contact-information">
			<h5>สมาชิกในทีม</h5>
			<div><i class="fab fa-facebook-square">  </i> <a>Chonlasit Satsuk</a> </div>
			<div><i class="fab fa-facebook-square">  </i> <a>Jutatip Mahaesuan</a> </div>
		</div>
	</div>
	<div class="copyright">
		<div class="copyright-grid">
			<div class="copytext">
				<p>Copyright @ 2020 -All rights reserved</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>